<%- include("navbar") -%>


    <h3 style="text-align: center;">Add Post</h3>

        


    <div class="container1">
        <form action="/add-video" method="POST">
              <div class="form-floating">
                <input class="form-control" type="text" required placeholder="link" id="link" name="link">
                <label for="link">Add YouTube video link</label>
              </div>
              <div id="link-error" style="color: #dc3545; font-size: 0.875em; display: none; margin-bottom: 8px; margin-left: 15px;">
                *Please enter a valid YouTube link.
              </div>
              <div class="form-floating">
                <input class="form-control" type="text" placeholder="description" id="description" name="description">
                <label for="description">Description</label>
              </div>
              <div class="new-task">
                <button type="submit" class="add btn btn-outline-primary" value="add" name="add">Save</button>
              </div>
        </form>
    </div>

    <script>
        const form = document.querySelector('form');
        const linkInput = document.getElementById('link');
        const errorDiv = document.getElementById('link-error');
      
        form.addEventListener('submit', function (e) {
          const link = linkInput.value.trim();
          const youtubeRegex = /^https?:\/\/(www\.)?youtu\.be\/[\w\-]{11}(\?.*)?$/;
      
          if (!youtubeRegex.test(link)) {
            e.preventDefault();
            errorDiv.style.display = 'block';
          } else {
            errorDiv.style.display = 'none';
          }
        });
      
        // Optional: Hide error as the user starts editing
        linkInput.addEventListener('input', () => {
          errorDiv.style.display = 'none';
        });
      </script>
      
        
        <br>
        <br>
        <br>
        <br>
        <br>


        
<%- include('footer') %>