<%- include("navbar") -%>


        <h4>Settings</h4>
        
        <form action="/reciter" method="POST" style="margin-bottom: 20px;">
            <label for="reciterSelect"><strong>Select Your Preferred Reciter:</strong></label>
            <select name="reciter" id="reciter" required style="margin: 10px 0; padding: 8px; border-radius: 5px; border: 1px solid #ccc;">
                <% Object.keys(reciters).forEach(function(key) { %>
                    <option value="<%= key %>" <%= key === favoriteReciter ? 'selected' : '' %>><%= reciters[key] %></option>
                  <% }); %>
            </select>
            <button type="submit" style="padding: 8px 12px; border: none; border-radius: 5px; background: #007bff; color: white;">Save</button>
          </form>

    </body>
</html>