body{
    text-align: center;
    align-items: center;
}

a, h5{
    text-decoration: none;
    text-emphasis: none;
}

.form-floating {
    margin: 20px 23%;
    width: auto;
    text-align: center;
  }

.table{
    /* width: 30%; */
    /* margin: 10px 30%; */
    border-radius: 10px;
    overflow: hidden;
}
.table thead th {
    background: #343a40;
    color: #fff;
    padding: 12px;
}
.table td {
    text-wrap: nowrap;
    padding: 12px 22px;
    vertical-align: middle;
}


.form-floating{
    width: 40%;
    margin: 10px 30%;
}


.container1 {
    max-width: 800px;
    margin: 35px auto;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}


hr{
    margin: 23px 50px 0 50px;
  }




  /* 
  Audio loader -> for surah page & footer page
  */
  .rotating-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #e0e0e0;
    padding: 1.5px;
    background: #fff;
  }

  .rotate {
    animation: spin 4s linear infinite;
  }

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  @media (max-width: 600px) {
    .audio-container {
      flex-wrap: wrap;
    }

    .close-mobile {
      position: absolute;
      top: 10px;
      right: 15px;
    }

    .audio-player {
      flex: 1 1 100%;
    }
  }

  /* Audio loader */








/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    hr{
        margin: 23px 0 0 0;
      }
    .table{
        width: 100%;
        margin: 10px 2%;
    }
    .table{
        width: 80%;
        margin: 10px 10%;
    }
    .table thead th {
        padding: 12px 10px;
    }
    .table td {
        padding: 10px 15px;
    }
    .form-floating{
        width: 80%;
        margin: 10px 10%;
    }
}








/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .table{
        width: 50%;
        margin: 10px 25%;
    }
    .form-floating{
        width: 60%;
        margin: 10px 20%;
    }
}








/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .table{
        width: 30%;
        margin: 10px 35%;
    }
    .form-floating{
        width: 30%;
        margin: 10px 35%;
    }

}